ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000ff;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-family: Verdana;
}
li a:hover:not(.active) {
    background-color: #0000cc;
}

.active {
    background-color: #000099;
}
.main {
    padding: 100px;
    margin-top: 30px;
    margin-left: 100px;
    height: 1500px; /* Used in this example to enable scrolling */

}

h1 {
    color: black;
    font-family: verdana;
    font-size: 200%;
    font-weight: normal;

}
p  {
    color: black;
    font-family: verdana;
    font-size: 100%;
}
